fastapi
uvicorn
sqlalchemy 
asyncpg 
psycopg2-binary 
alembic
redis==5.0.4
python-dotenv 
pydantic-settings 
loguru
python-jose 
passlib 
bcrypt==4.0.1
pyjwt
pgvector
sentence-transformers
transformers
torch
sounddevice>=0.5.2
numpy>=2.3.2
soundfile>=0.13.1
SpeechRecognition==3.11.0
torchaudio
silero-vad
openwakeword
onnxruntime
librosa